// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

dd {
    text-align: justify;
    text-justify: inter-word;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
        //width: 50%;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }


    .education {
        dt, dd {
            width: 50%;
        }
    }

    
}

.education .title {
	margin-right: 20px;
}

.languages {
     dt, dd {
         width: 50%;
	 margin-bottom: 20px;
     }

}

dl.languages{
	margin-bottom: 60px;
}

dt {
	padding-right: ($spacer * 2);
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
